{% extends "back/base.html.twig" %}

{% block linksHeader %}{% endblock %}

{% block ContentTitle %}
	Liste des types
{% endblock %}

{% block Content %}

	<div class="container-fluid">
    <div class="d-flex justify-content-between mb-4">
        <div>
        <a href="{{path('CreateType')}}" class="btn btn-primary"> <i class="fa fa-plus-circle mr-1" aria-hidden="true"></i>
                Ajouter un type</a>
        </div>

    </div>
		<div class="row">
			<div class="col-12">
				<div class="card card-primary">
					<div class="card-header">
						<h3 class="card-title">Type Vehicule</h3>
					</div>
					<!-- /.card-header -->
					<div class="card-body">

						{% for type in types %}
							<div class="row mb-2 shadow p-3 mb-5 bg-body rounded ">
								{% if type.ImageType == null %}
									<div class="col">
											<div  class="position-relative p-3 bg-primary" style="background-image: url("{{asset('/images/LogoCar.jpg')}}"); height: 180px" >
												<div class="ribbon-wrapper ribbon-lg">
													<div class="ribbon bg-success text-lg" id="marque">
														{{type.TypeVehicule}}
													</div>
												</div>
												<br/>
												<small class="text-bold">{{type.TypeVehicule}}</small>
											</div>
										</div>
								{% else %}
										<div class="col-sm-8 ">
											<div class="position-relative" style="height: 180px">
												<div class="d-flex ">
													<img class="ml-5 mr-4 mt-4 rounded-circle" style="width: 150px; height: 150px;box-shadow: -1px -1px 10px 1px blue, 1px 1px 11px 1px gray" src="{{asset('assets/uploads/vehiculeType/'~type.ImageType)}}" alt="logo" class="img-fluid">
													<p class="h1 pt-6 mt-6 ml-2 " style="font-family: 'Bowlby One SC', cursive;text-shadow: 1px 1px 2px blue;">{{type.TypeVehicule}}</p>
												</div>
												
												
											</div>
										</div>
									
                                    <div class="col-3">
                                        <div class="row ml-10 pt-6 mt-6">
												<a href="{{path('EditType', {"id":type.id})}}" class="btn btn-info mr-3">Editer</a>
												<a href="{{path('DeleteType', {"id":type.id})}}" class="btn btn-danger deleteBtn" id="">Suprimmer</a>
											</div>
                                    </div>

								{% endif %}
							</div>
						{% endfor %}

					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
	function deleteP(id) {
$.ajax({
url: '/backHome/DeleteType/' + id + '/',
method: 'post',
success: function (data) {
if (data == "ok") {
window.location.href = '/backHome/ListeType';;
} else {
alert("cannot do this opperation");
}

}
});
}
</script>

	<!-- ./wrapper -->
	<script>
		$(function () { /* BOOTSTRAP SLIDER */
$('.slider').bootstrapSlider()

/* ION SLIDER */
$('#range_1').ionRangeSlider({
min: 0,
max: 5000,
from: 1000,
to: 4000,
type: 'double',
step: 1,
prefix: '$',
prettify: false,
hasGrid: true
})
$('#range_2').ionRangeSlider()

$('#range_5').ionRangeSlider({
min: 0,
max: 10,
type: 'single',
step: 0.1,
postfix: ' mm',
prettify: false,
hasGrid: true
})
$('#range_6').ionRangeSlider({
min: -50,
max: 50,
from: 0,
type: 'single',
step: 1,
postfix: '°',
prettify: false,
hasGrid: true
})

$('#range_4').ionRangeSlider({
type: 'single',
step: 100,
postfix: ' light years',
from: 55000,
hideMinMax: true,
hideFromTo: false
})
$('#range_3').ionRangeSlider({
type: 'double',
postfix: ' miles',
step: 10000,
from: 25000000,
to: 35000000,
onChange: function (obj) {
var t = ''
for (var prop in obj) {
t += prop + ': ' + obj[prop] + '\r\n'
}
$('#result').html(t)
},
onLoad: function (obj) { //
}
})
})
	</script>

{% endblock %}

