{% extends "back/base.html.twig" %}


{% block ContentTitle %}
    Ajouter un client à la liste
{% endblock %}


{% block Content %}
	<section class="content">
		<div class="container-fluid">
			<div
				class="row">
				<!-- left column -->
				<div
					class="col-md-12">
					<!-- jquery validation -->
					<div class="card ">
						<div class="card-header bg-light">
							<h3 class="card-title">Nouveau
								<small>client </small>
							</h3>
						</div>
						
					<div class="row ">
						<div class="col-6">
							<div class="form-group">
								{% if erreur is defined %}
								<div class="alert alert-danger alert-dismissible">
									<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
									<h4>
										<i class="icon fa fa-ban"></i>
										Erreur !!</h4>
									{{ erreur }}
								</div>
								{% endif %}
								{% if success is defined %}
									<div class="alert alert-success alert-dismissible">
										<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
										<h4>
											<i class="icon fa fa-check"></i>
											Succés
										</h4>
										{{ success }}
									</div>
								{% endif %}
							</div>
						</div>
					</div>
						<!-- /.card-header -->
						<!-- form start -->
						<form id="quickForm" method="post" action="createClient" enctype="multipart/form-data">
							<div class="card-body">
								<div class="form-group">
									<label for="Nom">Nom</label>
									<input type="text" name="Nom" class="form-control" required id="Nom" placeholder="Entrer Nom">
								</div>
								<div class="form-group">
									<label for="Prenom">Prenom</label>
									<input type="text" name="Prenom" class="form-control" required id="Prenom" placeholder="Entrer Prenom">
								</div>
								<div class="form-group">
									<label for="Email">Telephone</label>
									<input type="tel" name="telephone" class="form-control" required id="Email" placeholder="Entrer numero tele">
								</div>
								<div class="form-group">
									<label for="Email">Email</label>
									<input type="email" name="Email" class="form-control" required id="Email" placeholder="Entrer Email">
								</div>
								<div class="form-group">
									<label for="Password">Password</label>
									<input type="password" name="Password" class="form-control" required id="Password" placeholder="Entrer Password">
								</div>
								<div class="form-group">
									<label for="Cin">Cin</label>
									<input type="text" name="Cin" class="form-control" required id="Cin" placeholder="Entrer Cin">
								</div>
								<div class="form-group">
									<label for="Adresse">Adresse</label>
									<input type="text" name="Adresse" class="form-control" required id="Adresse" placeholder="Entrer Adresse">
								</div>
								<div class="form-group">
									<label for="DateNaissance">Date Naissance</label>
									<input type="Date" name="DateNaissance" class="form-control" required id="DateNaissance" placeholder="Entrer DateNaissance">
								</div>
								<div class="form-group">
									<label for="Sexe">Sexe</label>
									<select class="form-control" name="Sexe">
										<option value="Feminin">Feminin</option>
										<option value="Masculin">Masculin</option>
									</select>
								</div>
                                <div class="form-group">
                                    <label for="permition" class="text-danger"> RED CLIENT</label>
									<select class="form-control" name="permition">
										<option value="0">NO</option>
										<option value="1">YES</option>
									</select>
                                </div>
							</div>
							<!-- /.card-body -->
							<div class="card-footer">
								<button type="submit" class="btn btn-primary text-black">Submit</button>
							</div>
						</form>
					</div>
					<!-- /.card -->
				</div>
				<!--/.col (left) -->
				<!-- right column -->
				<div class="col-md-6"></div>
				<!--/.col (right) -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fl requireduid -->
	</section>
<script src="{{asset('loginClient/js/jquery.min.js')}}"></script>
<script src="{{asset('loginClient/js/popper.js')}}"></script>
<script src="{{asset('loginClient/js/bootstrap.min.js')}}"></script>
<script src="{{asset('loginClient/js/main.js')}}"></script>


{% endblock %}
