{% block Content %}
	<div class="row">
        <div class="card-header">
          <h1 align="center">Liste des utilisateurs</h1><hr>
        </div>
		<div class="col-12">
			<div class="card card-light">
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" align="center">
					<table class="table table-hover text-nowrap" class="styled-table"  align="center">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Premon</th>
								<th>Telephone</th>
								<th>Email</th>
								<th>Cin</th>
							</tr>
						</thead>
						<tbody>
							{% for client in clients %}
								{% if client.permition == 1 %}
									<tr>
										<td>{{client.Nom}}</td>
										<td>{{client.Prenom}}</td>
										<td>{{client.Phone}}</td>
										<td>{{client.Email}}</td>
										<td>{{client.Cin}}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>


{% endblock %}

<style>
.h1{
color : #DC143C
;
}
	.styled-table {
		border-collapse: collapse;
		margin: 25px 0;
		font-size: 0.9em;
		font-family: sans-serif;
		min-width: 400px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}

	.styled-table thead tr {
		background-color: #DC143C;
		color: #ffffff;
		text-align: left;
	}
	.styled-table th,
	.styled-table td {
		padding: 12px 15px;
	}
	.styled-table tbody tr {
		border-bottom: 1px solid #dddddd;
	}

	.styled-table tbody tr:nth-of-type(even) {
		background-color: #f3f3f3;
	}

	.styled-table tbody tr:last-of-type {
		border-bottom: 2px solid #009879;
	}
	.styled-table tbody tr.active-row {
		font-weight: bold;
		color: #009879;
	}
</style>


