{% extends "front/base.html.twig" %}

{% block body %}
<pre>
</pre>
	<div class="container-xxl py-5">
		<div class="container">
			<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
				<h6 class="section-title bg-white text-center text-danger px-3">Vehicles</h6>
				<h1 class="mb-5">Vehicles</h1>
			</div>
			<div class="row g-4 justify-content-center">
				{% for l in list %}
				<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="course-item bg-light">
							<div class="position-relative overflow-hidden">
								<img class="img-fluid" src="{{asset('front/img/classA.jpg')}}" alt="">
								<div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
									<a href="{{path('ShowVehiculeFront',{"id" : l.id})}}" class="flex-shrink-0 btn btn-sm btn-light px-3 border-end" style="border-radius: 30px 0 0 30px;">More Details..</a>
									<a href="{{path('BookVehicule',{"id" : l.id})}} " class="flex-shrink-0 btn btn-sm btn-primary px-3" style="border-radius: 0 30px 30px 0;">Book Now</a>
								</div>
							</div>
							<div class="text-center p-4 pb-0">
								<h3 class="mb-0">{{l.Marque}}</h3>
								<div class="mb-3">
									<small class="fa fa-star text-danger"></small>
									<small class="fa fa-star text-danger"></small>
									<small class="fa fa-star text-danger"></small>
									<small class="fa fa-star text-danger"></small>
									<small class="fa fa-star text-danger"></small>
									<small>(123)</small>
								</div>
								<h5 class="mb-4">{{l.Titre}}</h5>
								<P>
									<span class="flex-shrink-0 btn btn-sm btn-warning px-4 border-end" style=> <span style:"font-weight: bolder;">Availablity : </span> <em> {{l.Diponibilite}}</em> </span>
								</P>
								<span class="text-gray-500">
									<p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-ligh text-uppercaset">
										{{l.Description}}
									</p>
								</span>
								<div class="d-flex border-top">
									<small class="flex-fill text-center border-end py-2">
										<i class="fa fa-horse-head text-danger me-2"></i>200</small>
									<small class="flex-fill text-center border-end py-2">
										<i class="fa fa-clock text-danger me-2"></i>240km/h</small>
									<small class="flex-fill text-center py-2">
										<i class="fa fa-star text-danger me-2"></i>5</small>
								</div>
							</div>
						</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>


{% endblock %}

